@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cal+Sans&family=Comic+Relief:wght@400;700&family=Dela+Gothic+One&family=Oswald:wght@200..700&display=swap');
html {background-color: #E7EAEF;
font-family: sans-serif;
}
header {
       background-color: #217074;
       padding: .3rem;
       border-radius: 7px;
       text-align: center;
       background-image: url('bookshelf-svgrepo-com.svg');
       background-repeat: repeat-x;
       background-size: auto;
       opacity: 1;
    
       }
h1 {
   font-family: "Bebas Neue" , sans-serif;
   color: #E7EAEF;
   text-align: center;
   font-size: 4rem;
margin-bottom: 0.2rem;
}
@media (max-width: 600px) {
    header h1 {
        font-size: 3em;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 2px; /* Уменьшает расстояние между разделами */
    }

    footer {
        padding: 3px 0; /* Уменьшает внутренний отступ футера */
    }

    .footer-container h3,
    .footer-container a,
    .footer-container dd {
        font-size: 0.8rem;
        margin: 1px 0; /* Минимальный отступ между текстом */
    }
}
nav {
margin-top: 0rem; 
margin-bottom: 0.3rem;

}
nav a {
      font-family: Oswald , sans-serif;
      text-decoration: none;
      color: #E7EAEF;
      font-size: 1.5rem;
      }
nav a:hover { 
      border-bottom: 2px solid #E7EAEF

}
main { 
margin: 1rem; 
}
h2 {
   font-family: Oswald , sans-serif;
   color: #217074;
   text-align: center;
   font-size: 1.5rem; 
   text-transform: uppercase;  
}
h3 {
font-family: Oswald , sans-serif;
   color: #217074;
   font-size: 1.rem;  
}
p {
    text-indent: 20px;
}
em {
    font-weight: bold;
    font-style: italic;
    color: #EBB866;
}

table {border: 1px solid #217074;
margin: auto;
width: 90vw
}
td, th {
    border: 1px solid #217074;}
thead {
      background-color: #217074;
     color: #E7EAEF;
      font-family: "Rubik", sans-serif;
      font-size: 1.2rem;

}
#col1 {
     background-color: #217074;
}
th:nth-child(1) {
       color: #E7EAEF;
       font-family: "Rubik", sans-serif;
       font-size: 1.2rem;
}
#col3 { padding-left: 5px;
       padding-right: 5px;
 }
#table {
    display: flex;
    justify-content: center;
}
footer {
background-color: #217074;
       padding: .5rem;
       border-radius: 7px;
       text-align: center;
color: #E7EAEF;
}
.foot {
color: #E7EAEF;
}
.footer-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    text-align: left;
}

.left, .right {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.social-item {
    display: flex;
    align-items: left;
    gap: 10px;
}
footer a {font-family: sans-serif;
      text-decoration: none;
      color: #E7EAEF;
      font-size: 1rem;
      }
footer a:hover { 
      text-decoration:underline;
}
dt {
    font-style: normal;
}
.pricetable {
color: #EBB866;
font-style: italic;
}
.img1 {
    width: 41.67vw;
    height: auto;
}
.img2 {
    width: 25vw;
    height: auto;
}
.img3 {
    width: 84.34vw;
    height: auto;
}
.align {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;

}

.align h2 {
    width: 100%;
    text-align: center;
}

.img1 {
    width: calc(50% - 20px);
    height: auto;
}
.line {
    width: 100%;
    height: 4px;
    background-color: #217074;
    border: none;
    margin: 20px 0;
}
a {font-family:sans-serif;
      text-decoration: none;
      color: #217074;
      font-size: 1rem;
      }
a:hover { 
      border-bottom: 2px solid #217074;
}
.box {
    position: relative;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
width: 350px;
    height: 170px;
border-radius: 5px;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
li {
    text-align: left;
}
